<?xml version="1.0"?>

<robot name="scout_mini" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="M_PI" value="3.1415926535897931" />
    
    <xacro:include filename="$(find scout_description)/urdf/mech/scout_mini_base.xacro"/>
    <xacro:include filename="$(find scout_description)/urdf/mech/scout_mini_wheels.xacro"/>
    <xacro:include filename="$(find scout_description)/urdf/sensors/lidar.xacro"/>
    <xacro:include filename="$(find scout_description)/urdf/sensors/lidar3d.xacro"/>
    <xacro:include filename="$(find scout_description)/urdf/sensors/camera.xacro"/>
    <xacro:include filename="$(find scout_description)/urdf/sensors/RGBcamera.xacro"/>

    <!-- Robot -->
    <xacro:scout_mini_base/>
    <xacro:scout_mini_wheels/>

    <!-- Sensors -->
    <!-- Lidar Sensor -->
    <xacro:lidar
    parent="base_link"
    frame_id="laser_frame"
    xyz_offset="0 0 0.0825"
    rpy_offset="0 0 3.14"
    mesh_xyz_offset="0 0 0"
    mesh_rpy_offset="${-M_PI/2} 0 0"
    topic_name="scout_mini/scan"/>

    <!-- 3D Lidar Sensor -->
    <xacro:lidar3d
    parent="base_link"
    frame_id="3dlaser_frame"
    xyz_offset="0 0 0.0825"
    rpy_offset="0 0 3.14"
    mesh_xyz_offset="0 0 0"
    mesh_rpy_offset="${-M_PI/2} 0 0"
    topic_name="scout_mini/scan3d"/> 

    <!-- Camera -->
    <xacro:camera/>

    <!--RGBD Camera -->
    <xacro:RGBcamera
    camera_name="RGBcamera"
    xyz_offset="0.26 0 0"
    rpy_offset="0 0 0"/>
    
    <!-- Scout gazebo plugin -->
    <gazebo>
        <plugin filename="libgz-sim-joint-state-publisher-system.so"
            name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>

            <update_rate>50</update_rate>

            <joint_name>front_right_wheel</joint_name>
            <joint_name>front_left_wheel</joint_name>
            <joint_name>rear_right_wheel</joint_name>
            <joint_name>rear_left_wheel</joint_name>
        </plugin>

        <plugin
            filename="libgz-sim-diff-drive-system.so"
            name="gz::sim::systems::DiffDrive">

            <left_joint>front_left_wheel</left_joint>
            <right_joint>front_right_wheel</right_joint>
            <left_joint>rear_left_wheel</left_joint>
            <right_joint>rear_right_wheel</right_joint>

            <wheel_separation>0.490</wheel_separation>
            <wheel_radius>0.160</wheel_radius>

            <!-- limits -->
            <max_wheel_torque>20</max_wheel_torque>
            <max_linear_acceleration>1.0</max_linear_acceleration>

            <!-- Plugin settings -->
            <topic>cmd_vel</topic>
            <odom_topic>odom</odom_topic>
            <tf_topic>tf</tf_topic>
            <odom_publish_frequency>50</odom_publish_frequency>

            <frame_id>odom</frame_id>
            <child_frame_id>base_link</child_frame_id>
        </plugin>
    </gazebo>
</robot>